<div class="full-page-intro tile-bg">
  <div class="nametag-container">
    <div class="nametag">
      <div class="topper">
        <div class="hello">Hello!</div>
        <div class="my-name-is">My name is...</div>
      </div>

      <div class="center">
        <div class="solid-rect"></div>
        <div class="write-section"
             [ngClass]="{'isMobile': isMobileDevice }">
          <h1 class="name"
              [ngClass]="{'isMobile': isMobileDevice }">Dakota<br />Jordan</h1>
          <h2 class="brand"
              [ngClass]="{'isMobile': isMobileDevice }">Software Engineer</h2>
        </div>
        <div class="solid-rect"></div>
      </div>

      <div class="bottomer">
        <a class="brand-link"
           href="https://www.linkedin.com/in/dakota-jordan/"
           target="_blank">
          <img src="/assets/images/linkedin-logo.png">
        </a>
        <a class="brand-link"
           href="https://github.com/shastaxc"
           target="_blank">
          <img src="/assets/images/github-logo.png">
        </a>
      </div>
    </div>
  </div>
</div>