@import 'variables';
@import 'breakpoints';

.project-list-section {
  position: relative;
  width: 100%;

  .section-content {
    max-width: 1280px;
    padding: 3rem 1rem;
    margin-left: auto;
    margin-right: auto;
  }
}

.projects-list {
  display: flex;
  justify-content: space-between;

  mat-grid-tile {
    overflow: visible;
  }

  .project-tile {
    width: 100%;
    height: 100%;
    padding-top: 0;
    cursor: pointer;
    user-select: none;
    overflow: visible;

    mat-card {
      display: flex;
      flex-direction: column;
      width: 100%;
      height: 100%;
      box-sizing: border-box;

      .title {
        @include typography-h1();
        text-align: center;
        margin: 0.5rem 0; 
      }
  
      .web-preview {
        display: flex;
        align-items: center;
        flex-grow: 1;
        padding: 0.5rem 0;
  
        img {
          width: 100%;
        }
      }
    }
  }
}
