<div class="project-list-section">
  <div class="section-content">
    <h1 class="mat-display-2 text-center">Projects</h1>

    <mat-grid-list class="projects-list"
                   [cols]="numCols"
                   rowHeight="1:0.8"
                   gutterSize="20">
      <mat-grid-tile>
        <a class="project-tile"
           [routerLink]="['/projects', RVCT]">
          <mat-card matRipple>
            <div class="title">
              RVCT
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="web-preview">
              <img src="/assets/images/RVCT-preview.jpg" />
            </div>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a class="project-tile"
           [routerLink]="['/projects', KEY_TERRAIN]">
          <mat-card matRipple>
            <div class="title">
              KeyTerrain
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="web-preview">
              <img src="/assets/images/KeyTerrain-preview.png" />
            </div>
          </mat-card>
        </a>
      </mat-grid-tile>
      <mat-grid-tile>
        <a class="project-tile"
           [routerLink]="['/projects', TRAINING_READINESS_PORTAL]">
          <mat-card matRipple>
            <div class="title">
              Training Portal
            </div>
            <mat-divider [inset]="true"></mat-divider>
            <div class="web-preview">
              <img src="/assets/images/TrainingPortal-preview.jpg" />
            </div>
          </mat-card>
        </a>
      </mat-grid-tile>
    </mat-grid-list>
  </div>
</div>