<ngx-extended-pdf-viewer src="assets/documents/Dakota_Jordan_Resume.pdf"
                         useBrowserLocale="true"
                         height="100%"
                         [mobileFriendlyZoom]="zoom"
                         [showPresentationModeButton]="true"
                         listenToURL="false"
                         [showBookmarkButton]="false"
                         [showFindButton]="false"
                         [showOpenFileButton]="false"
                         [showPagingButtons]="false"
                         [showScrollingButton]="false"
                         [showSidebarButton]="false"
                         showSidebarOnLoad="false"
                         [showSpreadButton]="false"
                         [filenameForDownload]="'Dakota_Jordan_Resume.pdf'">
</ngx-extended-pdf-viewer>