.bg-image {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background: url(/assets/images/wavy-bg.svg);
  background-size: cover;
  filter: brightness(20%);
}

.project-detail-section {
  width: 100%;
  height: 100%;
  box-sizing: border-box;

  .section-content {
    max-width: 1280px;
    padding: 3rem 1rem;
    margin-left: auto;
    margin-right: auto;
    
    mat-card {
      img {
        width: 500px;
        max-width: 100%;
      }
      dt {
        font-weight: bold;
      }
    }
  }
}
